{% load static %}
<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Dynamic Title -->
    <title>{% block title %}Mualiful Anwar - Portfolio{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/fonts.css' %}" />

    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <script defer src="{% static 'js/alpine.min.js' %}"></script>

    <!-- Tailwind Config -->
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              primary: "#D0F75B",
              cream: "#f5f1ed",
              creamautumn: "#fefce8",
              lightgreen: "#c8f5c4",
            },
            fontFamily: {
              sans: ["Inter", "sans-serif"],
            },
          },
        },
      };
    </script>

    <!-- Extra CSS Block -->
    {% block extra_css %}{% endblock %}
  </head>

  <body class="bg-[#fefce8] text-gray-900 antialiased font-sans">
    <!-- Header Navigation -->
    {% include 'showcase/snippets/header.html' %}

    <!-- Main Content -->
    <main>
      {% block content %}
      <!-- Child templates will override this -->
      {% endblock %}
    </main>

    <!-- Footer -->
    {% include 'snippets/footer.html' %}

    <!-- Extra JS Block -->
    {% block extra_js %}{% endblock %}
  </body>
</html>
